/* color options (from melting clock image): 
cantaloupe #FDA172; 
spice #7A3803 
blonde #FEEB75
dark gray #2b2b2b
dark rust #2b0601
bronze #CD7F32
dark brown #140d05
light tan #E5D3B3
greenish #90ee90*/

:root {
    /* background-color:black; */
    background-image: url(../images/backgroundpatch2.jpg);
    background-repeat: repeat;
    /* position:absolute; */

}


body {
    /* font-size: 1.5rem; */
    font-size: 95%;
    /* background-color: #140d05; */
}

.hero.is-info .title {
    font-size: 3rem;
    color: #E5D3B3;
    text-align: left;
    /* font-family: BadTyp Regular; */
}

.hero.is-info .subtitle {
    color: #E5D3B3;
    text-align: right;
    /* font-family: BadTyp Regular; */
    margin-bottom: 0px;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: chauncy-pro;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #E5D3B3;
}

.favorites {
    color: #E5D3B3;
    margin-left: 2rem;
    background-image: url(../images/backgroundpatch2.jpg);
    background-repeat: repeat;
}

.col-header {
    color: #E5D3B3;
}

p {
    align-self: center;
    /* margin-left: 2em; */
    margin-bottom: 2rem;
    padding: 15px;
    vertical-align:auto;
    color: #E5D3B3;
}
.hero {
    text-align: center;
    height: 370px;
    font-family: badtyp, sans-serif;
}

.hero-body{
    background-image: url('../images/meltingClockExpanded.jpg');
    /* height: 400px; */
    background-position: center;
}

.section {
    padding-top: none;
    margin: none;
    background-image: url(../images/backgroundpatch2.jpg);
    background-repeat: repeat;
    text-align: center;
    justify-items: center;
}
.favorites {
    /* background-color: #140d05; */
    margin-left: 2rem;
}

.favorites > ul > li {
    margin-bottom: 1.5em;
}

.splash {
    /* background-color: #020804; */
    position: relative;
}
/* 
.splash > ul > li {
    margin-bottom: 1.5em;
} */

/* ??? can't figure out how to center all buttons */
.button {
    justify-content: center;
}

.jokeBody {
    font-family: chauncy-pro;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #E5D3B3;
    font-size: 24pt;
    padding-bottom: 0px;
}

.boredBody {
    font-family: chauncy-pro;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #E5D3B3;
    font-size: 24pt;
    padding-bottom: 0px;
}

.field-label {
    justify-self: left;  /* grrrrrr */
}

.clock-button{
    max-height: 50px;
    margin-bottom: 2rem;
    /* vertical-align:20px; */
}

.clock-button:hover {
    max-height: 60px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
#funnyImage {
    max-height: 280px;
    width: auto;
}

.random-image-btn {
    /* justify-content: center; why isn't this working?? */
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    /* align-self:center; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button.is-info {
    background-color: #7A3803;
    /* display:grid; */
    justify-content: center;
    align-items: center;
}

.image-col {
    /* background-color: #140d05; */
    /* margin-right: 2rem; */
    justify-self: center;
    background-image: url(../images/backgroundpatch2.jpg);
    background-repeat: repeat;
 }


#cat-meme {
    max-height: 200px;
}

.catBody > p {
    font-size: 30px;
}

.avatar-image {
    /* position: relative; */
    height: 300px;
    width: 300px;
}

#rdm-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkedIn {
    justify-self: center;
    max-height: 1.25rem;
}

.footer {
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    margin-top: auto;
    /* margin-bottom: 0px; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url(../images/backgroundpatch2.jpg);
    background-repeat: repeat;
}