body {
    font-size: 1.5rem;
    font-size: 90%;
}

.title {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero {
    background-color: rgb(22, 236, 236);
    text-align: center;
}

.favorites {
    background-color: beige;
    margin-left: 2rem;
}

.favorites > ul > li {
    margin-bottom: 1.5em;
}

.splash {
    background-color: tan;
}

.splash > ul > li {
    margin-bottom: 1.5em;
}

#randomCatImage {
    /* align-content: center; */
    justify-content: center;
}
.image-col {
    background-color: aqua;
    margin-right: 2rem;
    justify-self: center;
}

/* .image-col > h3 {
    margin-bottom: 1.5em;
}     */

.random-image {
    align-self: center;
    justify-self: center;
}

.button {
    margin-bottom: 1.5em;
}