* {
    box-sizing: unset;
}

:root {
    background-image: url(../images/backgroundpatch2.jpg);
    background-repeat: repeat;
}

html,
body {
    height: 100%;
    position: relative;
    display: block;
}


.main-container {
    min-height: 80%;
    overflow: hidden;
    display: block;
    margin-bottom: 5rem;
}

/* hero header */
.hero.is-info .title {
    font-size: 3rem;
    color: #E5D3B3;
    text-align: left;
}

.hero.is-info .subtitle {
    color: #E5D3B3;
    text-align: right;
    margin-bottom: 0px;
    margin-top: 3rem;
}
.hero {
    text-align: center;
    height: 23rem;
    font-family: badtyp, sans-serif;
    text-shadow: 3px 3px black;
    background-image: url('../images/meltingClockExpanded.jpg');
    background-position: center;
}

h3 {
    font-size: 2rem;
    font-family: chauncy-pro;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #E5D3B3;
    margin-left: 2rem;
}

p {
    align-self: center;
    justify-content: center;
    width: 100%; 
    font-size: 1.25rem;
}

.section {
    padding-top: none;
    margin: none;
    text-align: center;
    justify-items: center;
    display: block;
    width: 100%;
}

.apiBody {
    font-family: chauncy-pro;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #E5D3B3;
    font-size: 24pt;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    display: block;
}

.apiBody > button {
    margin: 3rem!important;
}

#funnyImage {
    max-height: 500px;
    width: auto;
}

#user-input {
    justify-content: center;
    align-items: center;
}

.clock-button{
    max-height: 70px;
    margin-bottom: .5rem;
    display: flex;
    padding: 0;
}

.clock-button:hover {
    max-height: 80px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-size: 110%;
}

.button.is-info {
    background-color: #661c00;
    justify-self: center;
    align-self: center;
    font-size: 12pt;
    margin: 10pt;
    margin-right: auto;
    margin-left: auto;
}

.image > img {
    max-width: 300px!important;
    margin-left: auto;
    margin-right: auto;
}

#cat-meme {
    max-height: 200px;
    margin-top: 10pt;
}

.field > p {
    width: auto;
    display: block;
}

#bored-meme {
    max-height: 400px;
}

#rdm-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    clear:both;
}

.linkedIn {
    justify-self: center;
    max-height: 1.25rem;
}

.custom-footer {
    padding: 10px 0px!important;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    display: block;
    background-color: black;
    border-top-style: solid;
    border-top-color: gray;
}

.footer-custom-inner{
    bottom: 0;
    margin-right: 4rem;
    padding: 0;
}

.footer-title {
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

.link-text{
    align-self: flex-start;
    margin-block-start: 0!important;
    margin-inline-start: 0;
    padding: 0;
    justify-self: left;
    text-align: left;
}

#favoriteList {
    color: #E5D3B3;
    font-size: 18px;
    font-family: chauncy-pro;
}